.DS_Store
Thumbs.db
desktop.ini

*.log
*.tmp
*.bak

/dist/
/build/
/out/

__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.env

.idea/
.vscode/
*.iml

*.orig
*.rej

.env
*.local
ega_data/
genome_resolver/app/database/gwas_catalog.tsv
genome_resolver/:memory
genome_resolver/app/database/clinvar_20240917.vcf.gz
genome_resolver/app/generated_reports
data_preview.ipynb